cluster:
  name: kind

#
# Destinations
#
destinations:
  - name: metrics
    type: prometheus
    url: http://mimir-gateway.mimir.svc/api/v1/push
    tenantId: kind
  - name: logs
    type: loki
    url: http://loki-gateway.loki.svc/loki/api/v1/push
    tenantId: kind

#
# Features
#
clusterMetrics:
  enabled: true
  windows-exporter:
    enabled: false
    deploy: false
  cadvisor:
    jobLabel: cadvisor
  kubelet:
    jobLabel: kubelet
  kube-state-metrics:
    jobLabel: kube-state-metrics
  kubeScheduler:
    jobLabel: kube-scheduler
  kubeControllerManager:
    jobLabel: kube-controller-manager
  apiServer:
    jobLabel: kube-apiserver
  kubeProxy:
    jobLabel: kube-proxy
  node-exporter:
    jobLabel: node-exporter
    metricsTuning:
      includeMetrics: [node_uname_info]
clusterEvents:
  enabled: true
nodeLogs:
  enabled: true
podLogs:
  enabled: true
prometheusOperatorObjects:
  enabled: true

#
# Collectors (Alloy instances)
#
alloy-metrics:
  enabled: true
  liveDebugging:
    enabled: true
  extraConfig: |-
    mimir.rules.kubernetes "default" {
      address = "http://mimir-gateway.mimir.svc:8080"
      tenant_id = convert.nonsensitive(remote.kubernetes.secret.metrics.data["tenantId"])
    }
alloy-singleton:
  enabled: true
  liveDebugging:
    enabled: true
alloy-logs:
  enabled: true
  liveDebugging:
    enabled: true
