cluster:
  name: kind

#
# Destinations
#
destinations:
  - name: metrics
    type: prometheus
    url: http://mimir-gateway.mimir.svc/api/v1/push
    tenantId: kind
  - name: logs
    type: loki
    url: http://loki-gateway.loki.svc/loki/api/v1/push
    tenantId: kind

#
# Features
#
clusterMetrics:
  enabled: true
  windows-exporter:
    enabled: false
    deploy: false
clusterEvents:
  enabled: true
nodeLogs:
  enabled: true
podLogs:
  enabled: true

#
# Collectors (Alloy instances)
#
alloy-metrics:
  enabled: true
  liveDebugging:
    enabled: true
alloy-singleton:
  enabled: true
  liveDebugging:
    enabled: true
alloy-logs:
  enabled: true
  liveDebugging:
    enabled: true
