deploymentMode: SimpleScalable

minio:
  enabled: false

loki:
  storage:
    type: s3
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
    s3:
      endpoint: minio.minio.svc:9000
      insecure: true
      s3ForcePathStyle: true
      accessKeyId: sandbox
      secretAccessKey: supersecret

  schemaConfig:
    configs:
      - from: "2026-01-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  ingester:
    chunk_encoding: snappy
  querier:
    max_concurrent: 4
  pattern_ingester:
    # pattern の自動解析を有効にする
    enabled: true
  limits_config:
    # インデックス化されない構造化データを保持可能にする
    allow_structured_metadata: true
    # volume 集計を有効にする
    volume_enabled: true

backend:
  replicas: 2
read:
  replicas: 2
write:
  replicas: 3

clusterLabelOverride: kind
monitoring:
  dashboards:
    enabled: true
  serviceMonitor:
    enabled: true
  rules:
    enabled: true
    alerting: true
