---
repositories:
  - name: grafana
    url: https://grafana.github.io/helm-charts

releases:
  - name: kube-prometheus-stack
    chart: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
    version: 81.5.0
    namespace: kube-prometheus-stack
    values:
      - kube-prometheus-stack/values.yaml
  - name: alloy
    chart: grafana/alloy
    version: 1.6.0
    namespace: alloy
    values:
      - alloy/values.yaml
  - name: mimir
    chart: grafana/mimir-distributed
    version: 6.0.5
    namespace: mimir
