service:
  type: LoadBalancer
  loadBalancerIP: "{{ .StateValues.ip.kind1.grafana }}"
adminPassword: "asdfjkl;"
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus | kind1
        type: prometheus
        url: http://{{ .StateValues.ip.kind1.prometheus }}
      - name: Prometheus | kind2
        type: prometheus
        url: http://{{ .StateValues.ip.kind2.prometheus }}
