alloy:
  # TODO: separate config file
  configMap:
    # default config
    # content: |
    #   discovery.kubernetes "pods"           {role = "pod"}
    #   discovery.kubernetes "nodes"          {role = "node"}
    #   discovery.kubernetes "services"       {role = "service"}
    #   discovery.kubernetes "endpoints"      {role = "endpoints"}
    #   discovery.kubernetes "endpointslices" {role = "endpointslice"}
    #   discovery.kubernetes "ingresses"      {role = "ingress"}
    content: |
      logging {
        level = "info"
        format = "logfmt"
      }
      prometheus.remote_write "mimir" {
        endpoint {
          url = "http://mimir-gateway.mimir.svc/api/v1/push"
        }
      }
      prometheus.operator.servicemonitors "services" {
        forward_to = [prometheus.remote_write.mimir.receiver]
      }
      prometheus.operator.podmonitors "pods" {
        forward_to = [prometheus.remote_write.mimir.receiver]
      }
