environments:
  default:
    values:
      - beyla:
          #  うちのローカルだと beyla があると結構な頻度で kernel crash をするぽいので、必要な時以外は false にする
          enabled: false
---
repositories:
  - name: grafana
    url: https://grafana.github.io/helm-charts
  - name: grafana-community
    url: https://grafana-community.github.io/helm-charts
  - name: minio-official
    url: https://charts.min.io
  - name: traefik
    url: https://traefik.github.io/charts
  - name: bedag
    url: https://bedag.github.io/helm-charts/

helmDefaults:
  diffArgs:
    - --dry-run=server

releases:
  - name: traefik
    chart: traefik/traefik
    namespace: traefik
    version: 39.0.1
    set:
      - name: service.type
        value: NodePort
      - name: ports.web.nodePort
        value: 30000

  - name: kube-prometheus-stack
    chart: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
    version: 81.5.0
    namespace: kube-prometheus-stack
    values:
      - kube-prometheus-stack/values.yaml

  - name: alloy
    chart: grafana/alloy
    version: 1.6.0
    namespace: alloy
    needs:
      - kube-prometheus-stack/kube-prometheus-stack
      - mimir/mimir
      - loki/loki
      - tempo/tempo
    values:
      - alloy/values.yaml.gotmpl

  - name: minio
    chart: minio-official/minio
    version: 5.4.0
    namespace: minio
    values:
      - minio/values.yaml

  - name: mimir
    chart: grafana/mimir-distributed
    version: 6.0.5
    namespace: mimir
    needs:
      - minio/minio
      - kube-prometheus-stack/kube-prometheus-stack
    values:
      - mimir/values.yaml

  - name: loki
    chart: grafana/loki
    version: 6.53.0
    namespace: loki
    needs:
      - minio/minio
      - kube-prometheus-stack/kube-prometheus-stack
    values:
      - loki/values.yaml

  - name: tempo
    chart: grafana-community/tempo-distributed
    version: 2.1.2
    namespace: tempo
    needs:
      - minio/minio
      - mimir/mimir
      - kube-prometheus-stack/kube-prometheus-stack
    values:
      - tempo/values.yaml

  - name: beyla
    chart: grafana/beyla
    version: 1.11.0
    namespace: beyla
    needs:
      - alloy/alloy
    condition: beyla.enabled
    values:
      - beyla/values.yaml

  - name: otel-demo
    chart: open-telemetry/opentelemetry-demo
    version: 0.40.4
    namespace: otel-demo
    needs:
      - alloy/alloy
    values:
      - otel-demo/values.yaml
  - name: otel-demo-extra
    chart: bedag/raw
    version: 2.0.2
    namespace: otel-demo
    values:
      - otel-demo/extra-values.yaml
