adminUser: admin
adminPassword: asdfjkl;
ingress:
  enabled: true
  hosts: [grafana.k8s.localhost]

sidecar:
  dashboards:
    enabled: true

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        url: http://mimir-gateway.mimir.svc/prometheus/
        editable: false
        isDefault: true
        jsonData:
          prometheusType: Mimir
          prometheusVersion: "2.9.1"
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: kind

      - name: Alertmanager
        uid: alertmanager
        type: alertmanager
        url: http://mimir-gateway.mimir.svc/
        editable: false
        jsonData:
          handleGrafanaManagedAlerts: false
          implementation: mimir
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: kind

      - name: Loki
        uid: loki
        type: loki
        url: http://loki-gateway.loki.svc
        editable: false
        jsonData:
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: kind

      - name: Tempo
        uid: tempo
        type: tempo
        url: http://tempo-gateway.tempo.svc
        editable: false
        jsonData:
          serviceMap:
            datasourceUid: "prometheus"
          httpHeaderName1: X-Scope-OrgID
        secureJsonData:
          httpHeaderValue1: kind
